@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}
.login-container img {
  width: 400px;
}
.login-container label,
input,
button {
  font-size: 3rem;
  margin: 20px;
}
.login-container input {
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #3e54ac;
  color: #3e54ac;
  outline: none;
  transition: 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}
.login-container input:focus {
  border-color: #ecf2ff;
  color: #ecf2ff;
}
.login-container button {
  width: 200px;
  height: 200px;
  padding: 10px 20px;
  border: none;
  background-color: #655dbb;
  color: #ecf2ff;
  border-radius: 50%;
  transition: 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}
.login-container button:hover {
  outline: 5px solid #ecf2ff;
  background-color: transparent;
}
.login-container button:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .login-container {
    font-size: 1.2rem;
  }
  .login-container label,
  input,
  button {
    font-size: 1.2rem;
  }
  .login-container input {
    width: 45%;
  }
  .login-container img {
    width: 300px;
  }
  .login-container button {
    width: 100px;
    height: 100px;
  }
}
