@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.notfound_page {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Ubuntu", sans-serif;

}

.notfound_page h1 {
    font-size: 6rem;
}
.notfound_page h3 {
    font-size: 2rem;
}
.notfound_page  i{
    margin: 20px;
    font-size: 6rem;
}
